.page-home
    display block
    padding-top 30%
.putin
    padding-top 10px
    padding-bottom 10px
    margin-left 5px
    margin-right 5px
    font-size 18px 
    margin 10px 10px
    border 1px solid black
.form 
    >div:first-child
        padding 20px 0
    >div
       border 0.5px solid black
.vercode
    color grey!important    

  