body
    font-size 14px
    color #333
    background-color white

    
/*margin间距*/
for row in 1..100
  .t-MT{row}
    margin-top 1px * row
  .t-ML{row}
    margin-left 1px * row  
  .t-PT{row}
    padding-top 1px * row   
/*字号*/
for row in 1..100
  .ft{row}
    font-size 1px * row

/*字体颜色*/
.fontcolor5c
   color #5c5c5c
.fontcolor36
   color #363636
.fontcolor32
   color #323232
.fontcolor7a
   color #7a7a7a
.fontcolorb4
   color #b4b4b4
.font-color
   color #4db4fe
.fontcolorad
   color #adadad

/*border边框*/
.bordernone
   border none!important
/*bdright渐变色线*/
.bdright
   display inline-block
   width 4px 
   height 10px
   border 1px solid red
   background-image: linear-gradient(top, red, blue); 
.bdright1
    border-right 1px solid  #38c4fd
.bdright2
    display inline-block
    width 1px 
    height 70px 
    background-image: -webkit-linear-gradient(top, #FFF, #4db4fe 25%, white 75%)
.bdright3
    display inline-block
    width 1px 
    height 80px 
    background-image: -webkit-linear-gradient(top, #FFF, #000 25%, white 75%)
/*滚动区域高度*/
.scrollHeight  
     height 300px  
.t-scroller .scrollHeight   
    border none 
/*svg背景颜色*/
.baccolor
   background-color white
   color #292929
   font-size 12px
.baccolor1
   background-color #4db4fe
.baccolor2
   fill #4eb3fe
.baccolor3
   fill #67d182
.baccolor4
   fill #f3b811
.baccolor5
   fill #f6976a
.baccolor6
   fill #a2764b
.baccolor7
   fill #7fc369
